/* ================================
   Variables del Profesor
================================ */
:root {
    /* Colores principales */
    --color-bg: #f5e6d3;           
    --color-primary: #2d2d2d;    
    --color-accent: #ffcc00;      
    --color-secondary: #ff6b6b;   
    
    /* Colores de estado */
    --color-success: #4ecdc4;      
    --color-error: #ff6b6b;        
    --color-warning: #ffa500;      
    
    /* Badges de origen */
    --color-api: #4ecdc4;          
    --color-cache: #ffcc00;        
    --color-expired: #ffa500;      
    
    /* Bordes y sombras */
    --border-width: 4px;
    --border-color: #2d2d2d;
    --shadow: 6px 6px 0px #2d2d2d;
    
    /* Tipografía */
    --font-family: 'Courier New', monospace;
}


/* ================================
   Kenneth - Index
================================ */

/* CAMPO TOTAL PARA LA APLICACIÓN WEB */
.KC-Aplicacion-Web {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* o center si quieres siempre centrado si hay poco contenido */
    position: relative;
    z-index: 11; /* para que el contenedor principal esté sobre el fondo */
}

/* FONDO DE PANTALLA */
body {
    min-height: 100vh;
    background-color: var(--color-bg);
    background-image: radial-gradient(var(--color-primary) 1.5px, transparent 1.5px);
    background-size: 20px 20px;
    font-family: var(--font-family); 
    margin: 0;
}


.KC-pokebola {
    position: fixed;              /* ← Cambia a "fixed" */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(90vw, 700px);
    height: min(90vw, 700px);
    background: #ffffff;
    opacity: 0.9;
    box-shadow: 36px 24px 0 rgba(160, 160, 160, 0.5);
    border: 15px solid var(--color-primary);
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none; /* Así clics pasan hacia “arriba” */
}


.KC-rotar {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-19deg);
    transform-origin: center;
}

.KC-mitad-superior {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #ff6b6b;
    opacity: 0.9;
    border-top-left-radius: 100% 200px;
    border-top-right-radius: 100% 200px;
}


.KC-mitad-inferior {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #ffffff;
    opacity: 0.6;
    z-index: 2;
}


.KC-franja {
    position: absolute;
    top: 41.4%;
    left: 0;
    width: 100%;
    height: 8.6%;
    background: var(--color-primary);
}


.KC-boton-central {
    position: absolute;
    top: 34.3%;
    left: 38.6%;
    width: 17.14%;
    height: 17.14%;
    background: var(--color-bg);
    background-image: radial-gradient(var(--color-primary) 1.5px, transparent 1.5px);
    background-size: 20px 20px;
    border: 20px solid var(--color-primary);
    border-radius: 50%;
    z-index: 2;
}

/* Botón interior */
.KC-boton-interno {
    position: absolute;
    top: 37.3%;
    left: 41.4%;
    width: 17%;
    height: 17%;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 3;
}


/* CAMPO PARA EL CONTENIDO PRINCIPAL DE LA APLICACIÓN WEB */
.KC-Main {
    position: absolute;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(95%, 760px);
    top: -1%;
    gap: 10px;
}


/* TITULO DE LA PAGINA */
.KC-Titulo {
    background-color: var(--color-api);
    border: 4px solid var(--color-primary);
    padding: 8px 14px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 8;
    box-shadow: var(--shadow);
    transform: rotate(-2deg);
}

.KC-Titulo h1 {
    margin: 6px 16px;
    letter-spacing: 4px;
    font-size: 55px;
}


/* NAVBAR */
.KC-navbar {
    display: flex;
    gap: 18px;
    margin-top: 18px;
    align-items: center;
    z-index: 9;
}

.KC-navbar a, .KC-navbar button {
    background: #ffffff;
    border: 4px solid var(--color-primary);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--color-primary);
    box-shadow: var(--shadow);
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
}


.KC-navbar a:hover, .KC-navbar button:hover {
    transform: translateY(-3px);
}


/* AREA DE BÚSQUEDA */
.KC-Pokemon-Busqueda {
    margin-top: 22px;
    display: flex;
    gap: 14px;
    align-items: center;
    background: transparent;
}

.KC-campo-selector {
    position: relative;
    display: inline-block;
}

.KC-campo-selector::before,
.KC-campo-selector::after {
    z-index: 3;
}

/* Flecha ARRIBA */
.KC-campo-selector::before {
    content: '';
    position: absolute;
    right: 14px;
    top: 35%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid var(--color-primary);
    pointer-events: none;
}

/* Flecha ABAJO */
.KC-campo-selector::after {
    content: '';
    position: absolute;
    right: 14px;
    top: 54%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--color-primary);
    pointer-events: none;
}

.KC-campo-selector:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.KC-seleccion {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: linear-gradient(180deg, var(--color-accent));
    border: 4px solid var(--color-primary);
    padding: 20px 30px 18px 15px;
    font-size: 12px; 
    cursor: pointer;
    font-weight: bold;
}

.KC-seleccion:hover {
    transform: translateY(-3px);
}

.KC-input-busqueda {
    width: 200px;
    padding: 14px 18px;
    border: 4px solid var(--color-primary);
    font-size: 20px;
    box-shadow: var(--shadow);
    outline: none;
}

.KC-input-busqueda:hover {
    transform: translateY(-3px);
}

.KC-input-busqueda::placeholder {
    color: #666;
    font-weight: 600;
}

.KC-boton-buscar {
    background: var(--color-secondary);
    color: white;
    border: 4px solid var(--color-primary);
    padding: 18px 40px;
    font-weight: 700;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.KC-boton-buscar:hover {
    transform: translateY(-3px);
}



/* RESULTADOS POKEMON */

.KC-pokemon-detalle {
  background: #fff;
  border: 4px solid var(--color-primary);
  padding: 18px 28px 18px 28px;
  box-shadow: var(--shadow);
}
.KC-pokemon-titulo {
  font-size: 2em;
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 4px;
}

.KC-pokemon-titulo-linea {
  width: 100%;
  height: 5px;              
  background: var(--color-primary); 
  margin: 0 0 20px 0;           
  display: block;
}
.KC-tipo-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;  
  margin-bottom: 18px;
}

.KC-badge-tipo {
  background: #111;
  color: #fff;
  padding: 8px 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  border-radius: 0;
  border: none;
  display: inline-block;
  text-align: center;
  box-shadow: 2px 2px 0 var(--color-primary);
}

.KC-pokemon-img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
    45deg,
    #ffffff 0 8px,
    #eaeaea 8px 16px
  );
  border: 3px solid #232323;
  box-sizing: border-box;
  width: 150px;      
  height: 150px;
  margin: 0 auto;
}

.KC-pokemon-img {
  width: 90px;         
  height: 90px;
  image-rendering: pixelated;
  background: transparent;
  display: block;
}

.KC-pokemon-titulo {
  font-size: 2em;
  color: var(--color-primary);
}

.KC-evo-cadena {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.KC-evo-fase {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ececec; /* ← fondo gris clarito */
  border: 3px solid var(--color-primary);
  padding: 8px 14px 6px 14px;
  min-width: 80px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
}

.KC-pokemon-evolucion > strong {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  padding:15px 15px;
}

.KC-evo-nombre {
  margin-top: 3px;
  font-family: var(--font-family);
  font-size: 0.99em;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
  text-shadow: 0.5px 0.5px #eee;
  letter-spacing: 1px;
}

.KC-evo-arrow {
  font-size: 1.5em;
  align-self: center;
  color: var(--color-secondary);
  margin: 0 4px;
  gap:6px;
}

.KC-pokemon-img-center {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.KC-pokemon-img {
  width: 180px;
  height: 180px;
  margin-bottom: 4px;
  image-rendering: pixelated;
}

.KC-pokemon-stats {
  width: 100%;
  margin: 25px 0 0 0;
  padding: 0;
  list-style: none;
}

.KC-pokemon-stat {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.KC-stat-nombre {
  width: 170px;              
  font-size: 17px;
  font-weight: bold;
  color: var(--color-primary);
  text-align: left;
  font-family: inherit;
}

.KC-stat-barra-externa {
  width: 300px;             
  max-width: 300px;
  background: #ffffff;
  border: 3px solid #222;   
  height: 15px;               
  overflow: hidden;
  margin-left: 10px;
}

.KC-stat-barra-interna {
  height: 100%;
  background: var(--color-success); 
}

.KC-habilidad-lista {
  display: flex;
  gap: 11px;
  margin-bottom: 15px;
}

.KC-badge-habilidad-normal {
  background: var(--color-api);  
  color: #111;
  font-weight: bold;
  font-size: 1.07em;
  padding: 7px 20px 7px 11px;
  border: 3px solid var(--color-primary);
  box-shadow: var(--shadow);
  display: inline-block;
}

.KC-badge-habilidad-oculta {
  background: var(--color-accent);
  color: #111;
    font-weight: bold;
  font-size:1.07em;
  padding: 7px 18px 7px 11px;
  border: 3px solid var(--color-primary);
  box-shadow: var(--shadow);
}

.KC-corazon-fav {
  width: 60px;
  height: 60px;
  background: #ffd1df;
  border: 4px solid #111;
  position: relative;
  margin: 25px auto 12px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 0 #111;
}

.KC-corazon-emoji {
  font-size: 2.2em;
  line-height: 1;
}

.KC-pokemon-titulo-linea-cortadas {
  width: 100%;
  height: 7px;
  margin: 30px 10px 10px 10px;
  background:
    repeating-linear-gradient(
      to right,
      var(--color-primary),
      var(--color-primary) 22px,
      transparent 22px,
      transparent 38px
    );
  border: none;
  display: block;
  border-radius: 0;
}

.KC-cargando {
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
  color: var(--color-primary);
  margin: 40px 0 30px 0;
  animation: kc-blink 1s infinite alternate;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@keyframes kc-blink {
  from { opacity: 1; }
  to   { opacity: 0.15; }
}

.KC-alerta-error {
  background: var(--color-error);
  color: #fff;
  font-weight: bold;
  font-size: 1.45em;
  letter-spacing: 1.5px;
  padding: 40px 16px 35px 16px;
  border: 4px solid #111;
  box-shadow: var(--shadow);
  max-width: 430px;
  text-align: center;
  margin: 45px auto 24px auto;
  text-transform: uppercase;
  position: relative;
  z-index: 15;
}

.KC-evo-img,
.KC-evo-nombre,
.KC-evo-fase {
  cursor: pointer;
}


.KC-evo-interactiva {
  background: #ececec;
  transition: background 0.18s, box-shadow 0.18s;
  box-shadow: var(--shadow);
  border: 3px solid var(--color-primary);
  cursor: pointer;
  margin: 0 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 14px 6px 14px;
  min-width: 80px;
  box-sizing: border-box;
}


.KC-evo-interactiva.KC-evo-actual {
  background: var(--color-success); 
  cursor: default;
}

.KC-evo-interactiva:not(.KC-evo-actual):hover {
  background: var(--color-accent);
}

.KC-pokemon-habilidades strong{
    font-size: 1.2em;
    font-weight: bold;
}

.KC-ability-detalle {
  background: #fff;
  border: 4px solid #222;
  box-shadow: var(--shadow);
  border-radius: 0;
  margin: 24px auto 20px auto;
  max-width: 510px;
  padding: 35px 18px 32px 18px;
  font-family: var(--font-family);
}

.KC-ability-header {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.KC-estrella {
  font-size: 1.7em;
  color: var(--color-accent);
  margin-right: 3px;
}
.KC-ability-title {
  font-size: 2.1em;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #111;
  margin-right: 8px;
}
.KC-ability-id {
  background: var(--color-accent);
  color: #111;
  font-size: 1.15em;
  font-weight: bold;
  padding: 4px 12px 4px 12px;
  border: 2px solid var(--color-primary);
  border-radius: 0;
  margin-left: auto;
  margin-bottom: 6px;
  min-width: 34px;
  text-align: center;
  display: inline-block;
}

.KC-pokemon-titulo-linea {
  width: 100%;
  height: 5px;
  background: var(--color-primary);
  margin: 8px 0 22px 0;
}

.KC-hab-efecto-titulo {
  font-size: 1.15em;
  font-weight: bold;
  background: #ececec;
  border: 2px solid #222;
  padding: 8px 12px 8px 15px;
  margin-bottom: -2px;
  text-align: left;
  letter-spacing: 1px;
  color: #111;
  font-family: var(--font-family);
}
.KC-hab-efecto-text {
  background: #ececec;
  border: 2px solid #222;
  border-top: none;
  padding: 10px 9px 13px 17px;
  margin-bottom: 22px;
  font-size: 1.15em;
  color: #222;
  font-family: var(--font-family);
}

.KC-hab-pk-titulo {
  font-weight: bold;
  font-size: 1.13em;
  margin: 12px 0 17px 0;
  letter-spacing: 1.5px;
  text-align: left;
  color: #111;
  font-family: var(--font-family);
}

/* Grid de pokemones */
.KC-hab-poke-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(114px, 1fr));
  gap: 12px;
  margin-top: 0px;
  background: #23232333;
  padding: 12px 4px 10px 4px;
  border: 3px solid #222;
  max-height: 340px;
  overflow-y: auto;
}

/* Tarjetita */
.KC-hab-poke-card {
  background: #fff;
  border: 3px solid #222;
  box-shadow: 3px 2px 0 #111;
  padding: 6px 3px 9px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 104px;
  justify-content: center;
}

.KC-hab-poke-img {
  width: 51px;
  height: 51px;
  image-rendering: pixelated;
  margin-bottom: 5px;
  margin-top: 2px;
}
.KC-hab-poke-name {
  color: var(--color-primary);
  font-weight: bold;
  font-family: var(--font-family);
  font-size: 1em;
  text-align: center;
}
.KC-oculta-texto {
  color: #ff3333;
  font-size: 0.89em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.5px;
}

.KC-hab-poke-card {
  background: #fff;
  border: 3px solid #222;
  box-shadow: 3px 2px 0 #111;
  padding: 6px 3px 9px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 104px;
  justify-content: center;
  cursor: pointer;
  transition: background 0.17s;
}
.KC-hab-poke-card:hover {
  background: var(--color-success);
}